/* You can add global styles to this file, and also import other style files */
.flex-even {
    display: flex;
    justify-content: space-evenly;

}

.border {
    border: 1px solid black;
}


.flex-centered{
    display: flex;
    justify-content: center;
}

.chartbox {
    width: 100%;
}

.fullscreen {
    width: 100%;
}